/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

* {
  font-family: 'Fira Code', monospace;
}

body {
  background: #cccccc;
  min-height: 100vh;
  overflow-x: hidden;
}

#sidebarCollapse {
  display: none;
}

.turing-image {
  background: url("http://localhost:8000/img/turing.svg");
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

@media (max-width: 948px) {
  #sidebarCollapse {
    display: block;
  }
}

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 948px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}
